{{- if not (eq .Values.istioDomain "") -}}
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: {{ .Chart.Name }}
spec:
  gateways:
  - istio-system/app-gateway
  hosts:
  - {{ .Chart.Name }}.{{ .Values.istioDomain }}
  http:
  - match:
    - uri:
       prefix: /
    route:
    - destination:
        host: {{ .Chart.Name }}
        port:
          number: 3000
{{- end }}
